body {
 background: #ffffff
}

#btn{

    width:200px;
    height:200px;
    background:#ff0000;
    border-radius:50%;
    margin:30px auto;
    text-align:center;
    line-height:200px;
    color:#ffffff;
    font-weight:bold;
    font-size:42px;
    cursor:pointer;
    box-shadow:0 10px 0 #d64b4b;
    user-select:none;
}

#btn:hover{
    opacity:0.9;
}

    #btn:active {
        box-shadow: 0 5px 0 #d64b4b;
        margin-top: 35px ;
    }